* {box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  background-image: url('../images/bg/woman-listening-to-music.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.main-container:after {
  background-color: rgba(0, 119, 143, 0.3);
  content: ' ';
  display; block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background: black;
  border-radius: 0;
  border: none;
  min-height: 70px;
  z-index: 100;
}

.navbar-brand {
  height: 70px;
}

.navbar-title {
  color: white;
  display: inline-block;
  font-size: 25px;
  line-height: 70px;
  text-transform: uppercase;
}

.navbar-brand img {
  max-height: 100%;
  max-width: 100%;
}

.main {
  position: relative;
  z-index: 2;
}

.welcome {
  margin: 0 auto;
  width: 60%;
}

.welcome__title,
.rotate-text {
  color: white;
  font-size: 2.5em;
  text-align: center;
}

.rotate-text {
  font-size: 2em;
  font-weight: 300;
}

.rotate-text strong {
  font-size: .9em;
  text-transform: uppercase;
}

.form {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.form input {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  // border: 1px solid rgb(0, 119, 143);
  border: none;
  font-size: 24px;
  padding: .5em 1em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}

.form input:focus{
  outline: none;
  box-shadow: 0 0 10px 0 #2c3e50;
}

.list-options {
  list-style-type: none;
  margin: 25px;
  padding: 0;
}

.list-options li {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 5px 10px;
  text-align: center;
}

.list-options li.active {
  background: #2c3e50;
}

.inputSearch.active {
  display: inline-block;
}


/***************/
// header{display: none;}
// .results{
//   background: red;
//   height: 40vh;
//   left: 0;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 100000;
// }

// .results p{
//   background: blue;
//   color: white;
//   height: 150px;
// }

.results{
  margin: 10px auto 0;
  width: 560px;
}

.results-song {
  background: white;
  border-radius: 2px;
  margin: 0 auto 10px;
  overflow: hidden;
  text-align: left;
}
.results-song__image {
  float: left;
  max-width: 200px;
  margin-right: 20px;
}
.results-song__image img{
  max-width: 100%;
}
.results-song__title {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 10px 0 10px;
}
.results-song__subtitle {
  display: block;
  margin-bottom: 20px;
}
.results-song__audio {
  margin-bottom: 10px;
}
.results-song__audio audio {}